<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="pin-container-resource">
      <% for (let resource of resources) {%>
        <div class="card card-medium">
          <div class="content">
            <a href='/resources/<%=resource.id%>' >
              <div>
                <p><%=resource.title%></p>
                <p><%=resource.category%></p>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </main>

</body>
</html>
