<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="pin-container-resource">
      <% for (let resource of resources) {%>
        <div class="card card-medium">
          <div class="content">
            <a href='<%=resource.url%>' >
              <div>
                <p><%=resource.title%></p>
                <p><%=resource.category%></p>
              </div>
            </a>
          </div>
          <div class="social-icons">
            <div class="rating-box">
              <div class="stars">
                <i class="fa-regular fa-star star star-1"></i>
                <i class="fa-regular fa-star star star-2"></i>
                <i class="fa-regular fa-star star star-3"></i>
                <i class="fa-regular fa-star star star-4"></i>
                <i class="fa-regular fa-star star star-5"></i>
              </div>
            </div>
            <i class="fa-regular fa-thumbs-up like"></i>
          </div>
        </div>
      <% } %>
    </div>
  </main>

</body>
</html>
