<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="pin-container-resource">
      <% for (let resource of resources) {%>
        <a href='<%=resource.url%>' class="card card-medium">
          <p><%=resource.comments%></p>
          <p><%=resource.category%></p>
          <div class="social-icons">
            <i class="fa-regular fa-thumbs-up"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </a>
      <% } %>
    </div>
  </main>

</body>
</html>
