<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>
<script type="text/javascript" src="/scripts/user_profile.js"></script>
<body>
  <%- include('partials/_header') %>
  <main class="main-container">
    <div class="profile-header">
      <div class="profile-circle">
        <span class="initial"><%= initial %></span>
      </div>
      <h1 class="profile-name"><%= name %></h1>
      <h4 class="profile-email"><%= email %></h4>
      <div class="profile-buttons">
        <a href="#" class="button" id = "copyLink">Copy Link</a>
        <a href="/users/<%=id%>/profile" class="button">Edit Profile</a>

      </div>
    </div>
    <div class="profile-footer">
      <a class ="unselected-tab tab" href='/users/<%=id%>/created'>Created</a>
      <a class ="selected-tab tab" href='/users/<%=id%>/liked'>Liked</a>
    </div>
    <div>
      <% if (resources[0]) { %>
        <div class="pin-container-resource">
          <% for (let resource of resources) {%>
            <div class="card card-medium">
              <div class="content">
                <a href='/resources/<%=resource.id%>' >
                  <div>
                    <img src="<%=resource.img_url%>" alt="<%=resource.title%>" />
                  </div>
                </a>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <div class = "empty-resources-profile"> 
          <h4 class="empty-bin"> 
            Nothing has been liked yet! Liked resources will be here!
          </h4>
          <a href="/resources" class="create-new">Explore</a>
        </div>
      <% } %>
    </div> 
  </main>
  
</body>
</html>
